@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ptsans-400.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ptsans-700.woff2) format(woff2);
	font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	background-color: #FFFFFF;
	color: #333333;
}

.button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.main-header {
	color: #000000;
}

.navigation-link {
	font-size: 20px;
	line-height: 26px;
	color: inherit;
	background-color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	text-transform: capitalize;
}

.navigation-link.button {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #756157;
	text-transform: uppercase;
}

.inner-header {
	background-image: url(../images/main-index/background.jpeg);
	color: #000000;
	background-color: rgba(131, 179, 211, 0.5);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.introduce {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.introduce-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.advantages-item {
	text-align: center;
}

.advantages-title {
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.advantages-item-1 {
	color: #FFFFFF;
	background-color: #82B3D3;
}

.advantages-item-1 .advantages-title {
	color: #FFFFFF;
}

.advantages-item-house {
	color: #333333;
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-house .advantages-title {
	color: #000000;
}

.advantages-item:nth-child(2n+4) {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:last-child {
	background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.search-hotel-question {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	text-transform: uppercase;
}

.search-hotel-link {
	font-size: 20px;
	line-height: 36px;
	color: #FFFFFF;
	background-color: #756157;
	text-decoration: none;
}

.subscribe {
	background-image: url(../images/main-index/background-blurred.jpeg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #FFFFFF;
	background-color: rgba(131, 179, 211, 0.5);
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.subscribe-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.subscribe-button {
	font-size: 20px;
	line-height: 36px;
	color: #FFFFFF;
	background-color: #82B3D3;
}

.footer-social-link {
	color: #83B3D3;
	background-color: #FFFFFF;
	text-align: center;
}

.footer-contacts-phone {
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}

.footer-htmlacademy-link {
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}
